RewriteEngine on

# ROUTES
# BOOKS.SHOW
# PATTERN: books/{id}
# URL: ?books=show&id=x
RewriteRule ^books/([1-9][0-9]*)$ index.php?books=show&id=$1 [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
